.single_batch_list {
  border: 1px solid $border;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  .title_and_status {
    background: $grey;
    border-radius: 5px 5px 0 0;
    .title {
      font-size: 20px;
      color: $secondary;
      font-weight: 700;
    }
    .status {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: $primary;
      @include d-flex;
      @include align-center;
      line-height: 0;
      span {
        width: 12px;
        height: 12px;
        background-color: $primary;
        border-radius: 100px;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
      &.blue-color {
        color: $light;
        span {
          background-color: $light;
        }
      }
      &.yellow-text {
        color: $dark;
        span {
          background-color: $dark;
        }
      }
    }
  }
  .date_and_types {
    border-bottom: 1px solid $border;
    .data_type {
      h4 {
        font-size: 16px;
        color: $content;
        font-weight: 500;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
        color: $primary;
        margin-top: 5px;
        font-weight: 600;
      }
    }
  }
  .notes {
    h4 {
      font-size: 16px;
      color: $content;
      font-weight: 500;
      text-transform: uppercase;
    }
    p{
        font-size: 16px;
        color: $content;
        margin-top: 5px;
    }
  }
  .batch_buttons{
    border-top: 1px solid $border;
  }
}
