.sidebar-panel {
  &.cart-sidebar-panel {
    .sidebar-inside {
      right: 0;
      left: initial;
      overflow: hidden;
      .sidebar-top {
        left: initial;
        right: 0;
      }
      .cart_clear {
        margin-top: 70px;
      }
      .panels-listing {
        margin: 0;
        position: absolute;
        bottom: 64px;
        top: 134px;
        left: 0;
        overflow-y: auto;
        right: 0;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-track {
          border-radius: 100px;
          background-color: $grey;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $secondary;
          border-radius: 100px;
        }
        > ul{
          > li{
            & + li{
              border-top: 1px solid $border;
            }
            .image{
              border: 1px solid $border;
              width: 100px;
              height: 100px;
              @include d-flex;
              @include align-center;
              @include justify-center;
              img{
                max-width: 100%;
              }
            }
            .data{
              h4{
                font-size: 16px;
                font-weight: 600;
              }
              button{
                outline: none;
                text-decoration: none;
                color: $primary;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .cart_footer {
        background: rgba(0, 0, 0, 0.06);
        position: fixed;
        bottom: 0;
        right: 0;
        width: 320px;
      }
    }
  }
}
