// 
// All custom defined variables are going to be define here
// 

// Main colors of panel
$white:                                             #ffffff;
$primary:                                           #ED0677;
$dark-primary:                                      #CC0F6C;
$secondary:                                         #143358;
$light:                                             #009DBC;
$dark:                                              #D89822;
$green:                                             #56A939;
$orange:                                            #E5702A;
$grey:                                              #E7EAEF;
$content:                                           #494949;
$content-light:                                     #666666;
$border:                                            #D9D9D9;
$nav-light:                                         #9F9F9F;